<div class='center'>
<h2>Heard a term at Salesforce you didn't recognize?</h2>
<p></p>

<div id="search">
  <%= render :partial => 'welcome/search' %>
</div>

<p></p>
<%= image_tag 'logo2.png', :size => '180x113' %>
<p></p>
</div>

<div class="example1">
<h3>Haven't you missed scrolling text? It's been a long time!</h3>
</div>

<div class='center'>
<h1>ESMB Central Solution Engineers</h1><%= @teams.size %>

<div id="team-list">
	<% @teams.each do |team| %>
		<table>
		<tr>
			<td><img src='/assets/<%= team.photo %>'>

				<img src='/assets/yoda_star_wars.gif' class='yoda' />
			</td>
			<td><%= team.first_name %> <%= team.last_name %></td>
			<td><a href='<%= team.url %>' target="_blank">Org62 Profile →</a></td>
		</tr>
		</table>
	<% end %>
</div>
</div>


